In [ ]:
a = 10
type(a)
a1 = str(a)
type(a1)

In [ ]:
sav = 30000
intr = 10
totamt = sav + 100*intr*2/100
print("amt dep is " +  str(sav) + "  tot amt is " +str(totamt))

In [ ]:
word = "kugfdjhfgfuyhfytutfdtrdyuhj"
word[:5]

In [ ]:
word[3:11]

In [ ]:
#string is immutable
word = "uasyicghsdchduwyghxjashgcisdf"

In [ ]:
word

In [ ]:
word[0] = o

In [ ]:
#list can be defined with same or different datatypes
emp_sal = [3534,86434,75447,9874567,9876]

print(emp_sal)

In [ ]:
emp_sal_nam = ["gffyjhd","darsrtf","hrys5fh",867656,754354,6546533]

In [ ]:
# A list may contain other list(nested list)
mjadsc = [[65454,89786],[977564,9865456],[8765645,3446675]]

In [ ]:
print(emp_sal[-1])

In [ ]:
print(mjadsc[0][-1])

In [ ]:
emp_name1 = [["ram",1000],["nancy",2000],["robert",3000],["rabson",4000]]

In [ ]:
print(emp_name1)

In [ ]:
emp_name1[0][0] = "Ram Reddy"

In [ ]:
emp_name1[2][4] = [["willis",2100]]

In [ ]:
print(emp_name1)

In [ ]:
#Adding Elements
emp_name1 = emp_name1 + ["Helen",5000]
print(emp_name1)

In [ ]:
del(emp_name1[2:3])
print(emp_name1)

In [ ]:
x = [1000,2000,3000] 
z = list(x)
z[1] = 2001
print(z),print(x)

In [ ]:
x = [1000,2000,3000,4000]
y = x
z = list(x)
y[0]= 1001
print(x),print(y)

In [ ]:
import numpy as np
marks = np.array([10,20,30,40,50,60,70,80,90,100])
print(marks > 50)
print(marks[marks > 50])

In [ ]:
#Logical Operators
import numpy as np
marks = np.array([10,20,30,40,50,60,70,80,90,100])
print(marks>50 or marks<80)

In [ ]:
import numpy as np
marks = np.array([10,20,30,40,50,60,70,80,90,100])
print(marks[np.logical_and(marks>50,marks<80)])

In [ ]:
import numpy as np
marks = np.array([10,20,30,40,50,60,70,80,90,100])
print(np.logical_or(marks>50,marks<80))

In [ ]:
#Matrix Addition using Numpy array.
import numpy as np
m1 = np.array([[12,13],[14,15]])
m2 = np.array([[17,28],[23,25]])
m3 = np.add(m1,m2)
print(m3)

In [ ]:
import pandas as pd
bric = pd.read_csv("winequality-red.csv",index_col = 0)
print
print (bric["pH"])
print (bric[bric["pH"]>7])
import numpy as np
print(bric[np.logical_and(bric["pH"]>6,bric["quality"]<6)])

In [ ]:
x = int(input("Please enter a number:"))
if x<0:
    print("Negetive Number")
    
elif x==0:
    print("Zero")
    
else:
    print("Posetive Number")

In [ ]:
a = 0
b = 1
while b < 50:
    c = b
    b = a+b
    a = c
    print(c)

In [ ]:
a,b = 0,1
while b < 50:
    a,b = b,a+b
    print(b,end= ',')

In [ ]:
#For Loop 
family_heights = [1.73,1.68,1.71,1.89]
for index,height in enumerate(family_heights) :
    print("index" + str(index)+ ";" + str(height))

In [ ]:
house = [
    ["Hall Area",11.25],
    ["Kitchen Area",18.0],
    ["Living Room Area",20.0],
    ["Bedroom Area",10.75],
    ["Bathroom Area",9.50]]
for x in house:
    print("The " + str(x[0]) + "is" + str(x[1]) + "sqm")

In [ ]:
#Dictionary for loop
world = {"China":1.38 , "India":1.34 , "USA":0.32}
for key,value in world.items() :
    print("The Population of "+ str(key) + " is " + str(value))

In [ ]:
# For Loop on numpy array
import numpy as np
np_family_heights = np.array([1.73,1.68,1.71,1.89])
for height in np_family_heights :
    print(height)

In [ ]:
#For loop 2D numpy array
import numpy as np
np_family_height = np.array([1.73,1.68,1.71,1.89])
np_family_weights = np.array([70,60,65,80])
np_fam_h_w = np.array([np_family_heights,np_family_weights])
for height in np.nditer(np_fam_h_w) :
    print(height)
 
print(type(np_fam_h_

In [7]:
import pandas as pd
brics = pd.read_csv("brics.csv", index_col = 0)
#for val in brics :
 #   print (val)
    
#for lab, row in brics.iterrows() :
 #   print(lab)
  #  print(row)
    
for lab, row in brics.iterrows() :
    print(str(lab) + " : " + str(row["capital"]))
    
#add column to result
for lab, row in brics.iterrows() :
    brics.loc[lab, "name_length"] = len(row["country"])
print(brics)
    
brics["Name_length1"] = brics["country"].apply(len)
print(brics)

BR :  Brasila
RU :  Moscow
IN :  New Delhi
CH :  Bejing
SA :  Cape Town
            country     capital    area  population Unnamed: 5  name_length
code
BR           Brazil     Brasila   8.516      200.00                     7.0
RU           Russia      Moscow  17.100      143.00                     7.0
IN            India   New Delhi   3.286     1252.00        NaN          6.0
CH            China      Bejing   9.597     1357.00        NaN          6.0
SA     South Africa   Cape Town   1.221       52.98        NaN         13.0
            country     capital    area  population Unnamed: 5  name_length  \
code
BR           Brazil     Brasila   8.516      200.00                     7.0
RU           Russia      Moscow  17.100      143.00                     7.0
IN            India   New Delhi   3.286     1252.00        NaN          6.0
CH            China      Bejing   9.597     1357.00        NaN          6.0
SA     South Africa   Cape Town   1.221       52.98        NaN         13.0

      Name_length1
code
BR               7
RU               7
IN               6
CH               6
SA              13

In [9]:
first = [10,90,30]
second = [50,60,40]
full = second + first
full_sorted = sorted(full, reverse = True)

print(full_sorted)

[90, 60, 50, 40, 30, 10]

In [14]:
def square (value1,value2) :
    """Raise value1 to exp of value2"""
    new_value = value1**value2
    return new_value
rs = square(19,16)
print(rs)

288441413567621167681

In [17]:

mylist = [3,4,-3,0,13,5,6,9,8,2]
mylist_sort = sorted(mylist)
print(mylist_sort)

[-3, 0, 2, 3, 4, 5, 6, 8, 9, 13]

In [18]:
tiple = ("apple","bannana","cherry")
for x in tiple:
    print(x)

apple
bannana
cherry

In [19]:
#Check if
tiple = ("apple","bannana","cherry")
if "apple" in tiple:
    print("yes")

yes

In [24]:
tiple = ("apple","bannana","cherry")
y = list(tiple)
y[1] = "kiwi"
tiple = tuple(y)
print(tiple)

('apple', 'kiwi', 'cherry')

In [25]:
tiple = ("apple","bannana","cherry")

tiple[2] = "kiwi"

TypeError: 'tuple' object does not support item assignment

In [32]:
even_nums = (2,4,9,8)
print(type(even_nums))
a,b,c,d = even_nums
print("a = " + str(a))
print("b = " + str(b))
print("c = " + str(c))
print("d = " + str(d))
print(even_nums[0])

<class 'tuple'>
a = 2
b = 4
c = 9
d = 8
2

In [33]:
def raise_both(v1,v2):
    nv1 = v1**v2
    nv2 = v2**v1
    nt = (nv1,nv2)
    return nt
rs = raise_both(12,13)
print(rs)

(106993205379072, 23298085122481)

In [40]:
#Sets
dheset = {"apple","cherry","banana"}
print("banana" in dheset)
dheset.add("orange")
print(dheset)

dheset.update(["Mango","Grapes","Guava"])
print(dheset)

#dheset.remove("njbhbhsdc")

dheset.discard("nbvjv")
print(dheset)

True
{'orange', 'cherry', 'banana', 'apple'}
{'cherry', 'Guava', 'Mango', 'apple', 'banana', 'orange', 'Grapes'}
{'cherry', 'Guava', 'Mango', 'apple', 'banana', 'orange', 'Grapes'}

In [43]:
new_value = 10 #Global Variable
print(new_value)

def square(value):
    global new_value
    new_value = value ** 2
    print(new_value)
    
square(4)
print(new_value)

10
16
16